<div class="col-xs-6 col-sm-4 col-lg-4">
    <div class="thumbnail">
        if val.IMG != ""
            img(src=val.IMG)
        else
            img(src="http://papers.co/wallpaper/papers.co-bd96-spaceship-art-illustration-32-wallpaper.jpg")
        <div class="caption">
            <h3>#{val.NAME}</h3>
            <div class="progress">
                if val.MON != "closed"
                    div(class="progress-bar progress-bar-success" role="progressbar" style="width:14%" data-toggle="popover" data-trigger="hover" data-content=val.MON data-placement="bottom") MON
                else
                    div(class="progress-bar progress-bar-danger" role="progressbar" style="width:14%" data-toggle="popover" data-trigger="hover" data-content=val.MON data-placement="bottom") MON
                if val.TUE != "closed"
                    div(class="progress-bar progress-bar-success progress-bar-left-1px" role="progressbar" style="width:14%" data-toggle="popover" data-trigger="hover" data-content=val.TUE data-placement="bottom") TUE
                else
                    div(class="progress-bar progress-bar-danger progress-bar-left-1px" role="progressbar" style="width:14%" data-toggle="popover" data-trigger="hover" data-content=val.TUE data-placement="bottom") TUE
                if val.WED != "closed"
                    div(class="progress-bar progress-bar-success progress-bar-left-1px" role="progressbar" style="width:14%" data-toggle="popover" data-trigger="hover" data-content=val.WED data-placement="bottom") WED
                else
                    div(class="progress-bar progress-bar-danger progress-bar-left-1px" role="progressbar" style="width:14%" data-toggle="popover" data-trigger="hover" data-content=val.WED data-placement="bottom") WED
                if val.THUR != "closed"
                    div(class="progress-bar progress-bar-success progress-bar-left-1px" role="progressbar" style="width:14%" data-toggle="popover" data-trigger="hover" data-content=val.THUR data-placement="bottom") THUR
                else
                    div(class="progress-bar progress-bar-danger progress-bar-left-1px" role="progressbar" style="width:14%" data-toggle="popover" data-trigger="hover" data-content=val.THUR data-placement="bottom") THUR
                if val.FRI != "closed"
                    div(class="progress-bar progress-bar-success progress-bar-left-1px" role="progressbar" style="width:14%" data-toggle="popover" data-trigger="hover" data-content=val.FRI data-placement="bottom") FRI
                else
                    div(class="progress-bar progress-bar-danger progress-bar-left-1px" role="progressbar" style="width:14%" data-toggle="popover" data-trigger="hover" data-content=val.FRI data-placement="bottom") FRI
                if val.SAT != "closed"
                    div(class="progress-bar progress-bar-success progress-bar-left-3px" role="progressbar" style="width:14%" data-toggle="popover" data-trigger="hover" data-content=val.SAT data-placement="bottom") SAT
                else
                    div(class="progress-bar progress-bar-danger progress-bar-left-3px" role="progressbar" style="width:14%" data-toggle="popover" data-trigger="hover" data-content=val.SAT data-placement="bottom") SAT
                if val.SUN != "closed"
                    div(class="progress-bar progress-bar-success progress-bar-left-3px" role="progressbar" style="width:13%" data-toggle="popover" data-trigger="hover" data-content=val.SUN data-placement="bottom") SUN
                else
                    div(class="progress-bar progress-bar-danger progress-bar-left-3px" role="progressbar" style="width:13%" data-toggle="popover" data-trigger="hover" data-content=val.SUN data-placement="bottom") SUN
            </div>
            <div style="width: 100%">
                <div style="width: 35px; float: left;">
                    <img class="icon" src="https://cl.ly/pvnW/info.png"/>
                </div>
                <div style="margin-left: 49px;">
                    if val.DESCRIP != ""
                        p #{val.DESCRIP}
                    else
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
            </div>
            <div style="width: 100%">
                <div style="width: 35px; float: left;">
                    <img class="icon" src="https://cl.ly/pwiL/phone.png"/>
                </div>
                <div style="margin-left: 49px;">
                    if val.TEL != ""
                        p #{val.TEL}
                    else
                        p (123) 456-7890
                </div>
            </div>
            <div style="width: 100%; margin-top: 10px; margin-bottom: 22px;">
                <div style="width: 35px; float: left;">
                    <img class="icon" src="https://cl.ly/pwfc/address.png"/>
                </div>
                <div style="margin-left: 49px;">
                    if val.ADRESS1 != ""
                        p #{val.ADRESS1} #{val.ZIP}
                    else
                        p Lorem ipsum dolor sit amet 12345
                </div>
            </div>
            div(style="margin-top: auto; margin-bottom: 11px;")
            a(href=val.URL target="#blank" class="btn btn-primary") Website
            if val.liked
                button(value=val.ID onClick="unlike(this)" class="btn btn-danger button-top-5px") Unlike
            else    
                button(value=val.ID onClick="like(this)" class="btn btn-success button-top-5px") Like
        </div>
    </div>
</div>